.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  counter-reset: advantages;

  @media (min-width: $tablet-width) {
    margin: 0 95px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 154px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages-list__item {
  display: flex;
  column-gap: 20px;
  align-items: center;
  counter-increment: advantages;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    position: relative;
    flex-direction: column;
    row-gap: 31px;
    align-items: start;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: counter(advantages);
      font-size: 280px;
      line-height: 280px;
      font-family: $font-family-Oswald;
      z-index: -1;
      color: $basic_grey;
    }
  }
}

.advantages-list__item--first::after {
  position: absolute;
  top: 0;
  right: 5px;

  @media (min-width: $desktop-width) {
    right: 19px;
  }
}

.advantages-list__item--second::after {
  position: absolute;
  top: 0;
  right: -17px;

  @media (min-width: $desktop-width) {
    right: -1px;
  }
}

.advantages-list__item--third::after {
  position: absolute;
  top: 0;
  right: -18px;

  @media (min-width: $desktop-width) {
    right: -3px;
  }
}

.advantages-list__item--fourth::after {
  position: absolute;
  top: 0;
  right: -20px;

  @media (min-width: $desktop-width) {
    right: -4px;
  }
}

.advantages-list__item-icon {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: $basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages-list__item-description {
  margin: 0;
  width: 70%;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 107%;
    margin: 0 0 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
