.catalog__title {
  margin: 27px 0 41px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 64px 0 87px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 81px 0;
  }
}
