.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.form__title {
  margin: 27px 0 37px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 65px 0 54px 70px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 73px 0 56px 110px;
  }
}

.form__description {
  margin: 0 0 39px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
  width: 226px;

  @media (min-width: $tablet-width) {
    margin: 0 0 66px 70px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px 110px;
  }
}

.form__btn {
  padding: 10px 0;
  margin-bottom: 21px;
  background: $basic_green;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background: $basic_light_green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0;
  }
}

.form_text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
  margin: 0 0 32px 62px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    align-items: center;

    @media (min-width: $desktop-width) {
      column-gap: 81px;
    }
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin: 0 0 70px 0;
  }
}
