.form-program {
  border: none;
  display: flex;
  margin: 0 0 26px 0;
  padding: 22px 0 20px 20px;
  border-top: 1px solid $program-line-color;
  border-bottom: 1px solid $program-line-color;

  @media (min-width: $tablet-width) {
    padding: 25px 27px;
    margin: 0 67px 75px 70px;
    border: 1px solid $special_light_grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 0 0;
    border: 1px solid $special_light_grey;
  }
}
