.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
  }

  @media (min-width: $desktop-width) {
    width: 98%;
  }
}

.main-nav-list__item {
  @media (min-width: $tablet-width) {
    &--active {
      border-bottom: 2px solid $basic_green;
    }
  }
}

.main-nav-list__item-user {
  @media (min-width: $desktop-width) {
    &--active {
      border-bottom: 2px solid $basic_white;
    }
  }
}

.main-nav-list__item-link {
  display: block;
  padding: 23px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width-only) {
    text-align: center;
    border-top: 1px solid $special_border_color;
  }

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    padding: 6px 0;
  }
}

.main-nav-list__item-link-user {
  @media (min-width: $desktop-width) {
    color: $basic_white;
  }
}

.main-nav-list__item:last-child {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special_border_color;
  }
}
