.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: $basic_white;
  top: 63px;

  @media (min-width: $tablet-width) {
    position: static;
    background: none;
    flex-direction: row;
    margin-right: 30px;
    width: 470px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
    width: 490px;
  }
}
