@charset "UTF-8";
/* Глобальные Файлы */
@font-face {
  font-family: "Oswald Medium";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald Regular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
}
/* Colors */
/* Viewports */
.page-body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: "Oswald Regular", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-wrapper {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .container-wrapper {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container-wrapper {
    margin: 0 110px;
  }
}

.container-catalog-wrapper {
  margin: 0;
}
@media (min-width: 768px) {
  .container-catalog-wrapper {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container-catalog-wrapper {
    margin: 0 110px;
  }
}

.example__container-wrapper {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .example__container-wrapper {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example__container-wrapper {
    margin: 0;
  }
}

.form-container-wrapper {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .form-container-wrapper {
    margin: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form-container-wrapper {
    margin: 0 110px;
  }
}

.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  height: 2px;
  background: #68b738;
  width: 100%;
  z-index: -1;
  top: 50%;
}

@media (max-width: 767px) {
  .form-contacts__line::before {
    top: 26%;
  }
}

.line__container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Файлы для Header */
.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .main-header {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .main-header {
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header {
    margin-top: 53px;
  }
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .main-header-wrapper {
    margin-bottom: 17px;
  }
}

.main-header__link-first {
  display: block;
  width: 33px;
  height: 37px;
}
.main-header__link-first:hover {
  opacity: 0.8;
}
.main-header__link-first:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__link-first {
    margin: 0;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__link-first {
    width: 202px;
    height: 59px;
  }
}

.main-header__link-secondary {
  display: block;
  width: 101px;
  height: 19px;
}
@media (max-width: 767px) {
  .main-header__link-secondary {
    margin-left: -7px;
  }
}
.main-header__link-secondary:hover {
  opacity: 0.8;
}
.main-header__link-secondary:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__link-secondary {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo {
    width: 202px;
    height: 59px;
  }
}

.main-header--closed .main-header__toggle {
  margin-top: 6px;
  cursor: pointer;
  width: 25px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url("/img/icons/burger-menu.svg");
  background-repeat: no-repeat;
}
.main-header--closed .main-header__toggle:hover {
  opacity: 0.5;
}
.main-header--closed .main-header__toggle:active {
  opacity: 0.2;
}
@media (min-width: 768px) {
  .main-header--closed .main-header__toggle {
    display: none;
  }
}
.main-header--closed .main-header__toggle .main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--closed .main-nav {
  display: none;
}
@media (min-width: 768px) {
  .main-header--closed .main-nav {
    display: flex;
  }
}

.main-header--opened .main-header__toggle {
  margin: 4px 0 0 5px;
  position: relative;
  cursor: pointer;
  width: 21px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent;
}
.main-header--opened .main-header__toggle::before, .main-header--opened .main-header__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  left: -3px;
  background-color: #000000;
}
.main-header--opened .main-header__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header--opened .main-header__toggle::after {
  transform: rotate(-45deg);
}
.main-header--opened .main-header__toggle:hover {
  opacity: 0.5;
}
.main-header--opened .main-header__toggle:active {
  opacity: 0.2;
}
@media (min-width: 768px) {
  .main-header--opened .main-header__toggle {
    display: none;
  }
}
@media (min-width: 767px) {
  .main-header--opened .main-header__toggle .main-header--opened .main-nav {
    display: flex;
  }
}
.main-header--opened .main-header__toggle .main-header--nojs .main-header__toggle {
  display: none;
}
.main-header--opened .main-header__toggle .main-header--nojs .main-nav {
  display: flex;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: #ffffff;
  top: 63px;
}
@media (min-width: 768px) {
  .main-nav {
    position: static;
    background: none;
    flex-direction: row;
    margin-right: 30px;
    width: 470px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    margin-right: 110px;
    width: 490px;
  }
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
  }
}
@media (min-width: 1440px) {
  .main-nav-list {
    width: 98%;
  }
}

@media (min-width: 768px) {
  .main-nav-list__item--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: 1440px) {
  .main-nav-list__item-user--active {
    border-bottom: 2px solid #ffffff;
  }
}

.main-nav-list__item-link {
  display: block;
  padding: 23px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.main-nav-list__item-link:hover {
  opacity: 0.8;
}
.main-nav-list__item-link:active {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .main-nav-list__item-link {
    text-align: center;
    border-top: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .main-nav-list__item-link {
    padding: 6px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .main-nav-list__item-link {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    padding: 6px 0;
  }
}

@media (min-width: 1440px) {
  .main-nav-list__item-link-user {
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .main-nav-list__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-container-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-container-header {
    background: none;
    align-items: start;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .main-container-header {
    background: url("/img/assets/product-desktop.png") top 29px right 330px no-repeat;
    margin-bottom: 0;
  }
}

.main-container-header__back {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 63%;
}
@media (min-width: 1440px) {
  .main-container-header__back {
    width: 50%;
    height: 696px;
    right: 0;
  }
}

.main-container-header__back::before {
  position: absolute;
  content: "";
  background-image: url("/img/backgrounds/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .main-container-header__back::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-container-header__back::before {
    display: block;
    background-image: url("/img/backgrounds/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -115px;
  }
}

.main-container-header__back::after {
  position: absolute;
  content: "";
  background: rgba(104, 183, 56, 0.85);
  background-size: 100% auto;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .main-container-header__back::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-container-header__back::after {
    display: block;
    top: -115px;
  }
}

.main-container-header__title {
  padding-top: 27px;
  margin: 0 0 25px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-container-header__title {
    padding-top: 62px;
    margin: 0 0 41px 117px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .main-container-header__title {
    padding-top: 111px;
    margin: 0 0 41px 190px;
  }
}

.main-container-header__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-container-header__description {
    margin: 0 0 20px 119px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .main-container-header__description {
    margin: 0 0 52px 190px;
  }
}

.button {
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-family: inherit;
}

.main-container-header__btn {
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 86%;
  padding: 10px 0;
  color: #ffffff;
  background-color: #68b738;
}
.main-container-header__btn:hover {
  background: #5eaa2f;
}
.main-container-header__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-container-header__btn {
    font-size: 20px;
    line-height: 20px;
    width: 32%;
    position: absolute;
    padding: 17px 0;
    z-index: 2;
    top: 294px;
    left: 120px;
  }
}
@media (min-width: 1440px) {
  .main-container-header__btn {
    width: 17%;
    margin: 0 0 267px 190px;
    position: static;
  }
}

.main-container-header__img {
  margin: auto;
}
@media (min-width: 1440px) {
  .main-container-header__img {
    display: none;
  }
}

@media (min-width: 768px) {
  .product-picture {
    width: 709px;
    height: 609px;
  }
}

/* Файлы Главной страницы */
.advantages {
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .advantages {
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 20px;
  }
}

.advantages__title {
  margin: 0 0 38px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin: 0 0 32px 0;
  }
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  counter-reset: advantages;
}
@media (min-width: 768px) {
  .advantages-list {
    margin: 0 95px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 154px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .advantages-list {
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages-list__item {
  display: flex;
  column-gap: 20px;
  align-items: center;
  counter-increment: advantages;
}
@media (min-width: 768px) {
  .advantages-list__item {
    padding-top: 39px;
    position: relative;
    flex-direction: column;
    row-gap: 31px;
    align-items: start;
  }
}
@media (min-width: 768px) {
  .advantages-list__item::after {
    position: absolute;
    content: counter(advantages);
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    z-index: -1;
    color: #f2f2f2;
  }
}

.advantages-list__item-first::after {
  position: absolute;
  top: 0;
  right: 5px;
}
@media (min-width: 1440px) {
  .advantages-list__item-first::after {
    right: 19px;
  }
}

.advantages-list__item-second::after {
  position: absolute;
  top: 0;
  right: -17px;
}
@media (min-width: 1440px) {
  .advantages-list__item-second::after {
    right: -1px;
  }
}

.advantages-list__item-third::after {
  position: absolute;
  top: 0;
  right: -18px;
}
@media (min-width: 1440px) {
  .advantages-list__item-third::after {
    right: -3px;
  }
}

.advantages-list__item-fourth::after {
  position: absolute;
  top: 0;
  right: -20px;
}
@media (min-width: 1440px) {
  .advantages-list__item-fourth::after {
    right: -4px;
  }
}

.advantages-list__item-icon {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #68b738;
}
@media (min-width: 768px) {
  .advantages-list__item-icon {
    width: 80px;
    height: 80px;
  }
}

.advantages-list__item-description {
  margin: 0;
  width: 70%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (max-width: 767px) {
  .advantages-list__item-description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages-list__item-description {
    width: 107%;
    margin: 0 0 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.program {
  display: flex;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .program {
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .program {
    margin-bottom: 71px;
  }
}

.program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .program-list {
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .program-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-list__item {
  position: relative;
  padding: 30px 33px 22px 20px;
  display: block;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .program-list__item {
    display: grid;
    grid-template-columns: repeat(2, 57% 43%);
    column-gap: 56px;
    padding: 75px 62px 57px 52px;
  }
}
@media (min-width: 1440px) {
  .program-list__item {
    display: block;
    padding: 77px 51px 59px 52px;
  }
}

.program-list__item-icon {
  position: absolute;
  top: 23px;
  left: 22px;
  display: flex;
  width: 50px;
  height: 53px;
  border-radius: 50%;
  background: #68b738;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .program-list__item-icon {
    position: static;
    align-self: center;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .program-list__item-icon {
    position: absolute;
    top: 46px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.small-cat-icon {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .small-cat-icon {
    width: 140px;
    height: 194px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1440px) {
  .small-cat-icon {
    width: 70px;
    height: 97px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .strong-cat-icon {
    position: absolute;
    right: -8px;
    top: 11px;
  }
}
@media (min-width: 768px) {
  .strong-cat-icon {
    position: absolute;
    top: 133px;
    width: 268px;
    height: 112px;
  }
}
@media (min-width: 1440px) {
  .strong-cat-icon {
    width: 134px;
    height: 56px;
    top: 21px;
    left: -19px;
  }
}

.program-list__item-title {
  margin: 0 0 29px 31%;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .program-list__item-title {
    margin: 0 0 25px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .program-list__item-title {
    margin: 0 0 73px 35%;
  }
}

.program-list__item-description {
  margin: 0 0 19px 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .program-list__item-description {
    width: 101%;
    margin: 0 0 52px 0;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .program-list__item-description {
    margin: 0 0 27px 0;
  }
}

.program-list__item-button {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  width: 132px;
  text-align: start;
  background: url("/img/icons/arrow.svg") top 2px right 8px no-repeat;
}
.program-list__item-button:hover {
  background: url("/img/icons/long-arrow.svg") top 2px right no-repeat;
}
.program-list__item-button:active {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .program-list__item-button {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    background-position: top 9px right 8px;
  }
  .program-list__item-button:hover {
    background: url("/img/icons/long-arrow.svg") top 9px right no-repeat;
  }
}
@media (min-width: 1440px) {
  .program-list__item-button {
    width: 168px;
  }
}

.example {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background: none;
  }
}

.example__title {
  padding-top: 25px;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .example__title {
    padding: 0;
    margin: 0 0 63px 30px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin: 50px 0 146px 0;
  }
}

.example__description {
  margin: 0 0 20px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .example__description {
    margin: 0 36px 54px 30px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    width: 70%;
    margin: 0 0 69px 0;
  }
}

.example__information {
  display: flex;
  margin-bottom: 34px;
  column-gap: 11%;
}
@media (min-width: 768px) {
  .example__information {
    margin: 0 0 0 30px;
    column-gap: 12%;
  }
}
@media (min-width: 1440px) {
  .example__information {
    width: 100%;
    margin: 0 0 52px 0;
    column-gap: 6%;
  }
}

.example__label {
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .example__label {
    width: 50%;
  }
}

.example__field {
  padding: 7px 0 0 0;
  display: block;
  width: 100%;
  height: 48px;
  background: transparent;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__field {
    padding: 9px 0 0 0;
    width: 162px;
    height: 63px;
  }
}

.example__field::placeholder {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .example__field::placeholder {
    font-size: 30px;
    line-height: 37px;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__field::placeholder {
    background: #f2f2f2;
  }
}

.example__text {
  display: block;
  position: absolute;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  width: 81px;
  line-height: 100%;
  color: #444444;
  background: #eaeaea;
  text-align: center;
  z-index: 2;
  top: 47px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    top: 66px;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__text {
    background: #f2f2f2;
  }
}

.example-information__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
@media (min-width: 768px) {
  .example-information__wrapper {
    justify-content: space-between;
    flex-direction: row;
    margin: 0 30px 80px 0;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .example-information__wrapper {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}

.example__cost {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .example__cost {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: end;
    width: 174px;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    text-align: start;
    width: 100%;
  }
}

.example__img {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .example__img {
    width: 591px;
    height: 511px;
    margin-bottom: 29px;
  }
}
@media (min-width: 1440px) {
  .example__img {
    margin: 6px 0 24px 6px;
  }
}

@media (min-width: 768px) {
  .example-img__wrapper {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .example-img__wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #eaeaea 73%, #ffffff 27%);
  }
}
@media (min-width: 1440px) {
  .example-img__wrapper {
    background: transparent;
  }
}

.example-picture__wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .example-picture__wrapper {
    justify-content: start;
  }
}

@media (min-width: 1440px) {
  .example-description__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 47% 53%);
    background: linear-gradient(0deg, #f2f2f2 75%, #ffffff 25%);
    padding: 0 0 75px 110px;
  }
}

.range {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .range {
    margin-bottom: 61px;
  }
}
@media (min-width: 1440px) {
  .range {
    margin: 0 0 0 17px;
    justify-content: start;
  }
}

.range__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .range__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px dashed #cdcdcd;
  }
  .range__text:hover {
    border-bottom: 1px solid #000000;
  }
  .range__text:active {
    border-bottom: none;
  }
}

.range__scale {
  position: relative;
}
@media (max-width: 767px) {
  .range__scale {
    margin: 0 18px;
    width: 30%;
    height: 14px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }
}
@media (min-width: 768px) {
  .range__scale {
    width: 55%;
    margin: 0 26px;
    height: 6px;
    background: #cdcdcd;
    border-radius: 6px;
  }
}
@media (min-width: 1440px) {
  .range__scale {
    width: 61%;
  }
}

.range__scale-bar {
  position: absolute;
  cursor: pointer;
}
@media (max-width: 767px) {
  .range__scale-bar {
    width: 43%;
    height: 6px;
    background: #68b738;
    border: none;
    border-radius: 6px;
    top: 4px;
    left: 6px;
  }
}
.range__scale-bar:active {
  border: 1px solid #68b738;
}
@media (min-width: 768px) {
  .range__scale-bar {
    height: 34px;
    width: 34px;
    right: 45%;
    top: -16px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: 768px) {
  .range__scale-bar::before {
    position: absolute;
    display: block;
    content: "";
    height: 8px;
    width: 8px;
    right: 13px;
    top: 13px;
    background: #68b738;
    border-radius: 4px;
  }
}

/* Файлы Страницы каталога */
.catalog__title {
  margin: 27px 0 41px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 64px 0 87px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin: 74px 0 81px 0;
  }
}

.catalog-list {
  padding: 0;
  margin-bottom: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 62px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 57px;
    margin-bottom: 75px;
  }
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .catalog-list__item {
    border-top: 1px solid #ebebeb;
    padding: 19px 20px 25px 20px;
  }
}
@media (min-width: 768px) {
  .catalog-list__item {
    background: linear-gradient(0deg, #f2f2f2 84%, #ffffff 15%);
    padding: 0 37px 39px 39px;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item {
    padding: 0 38px 40px 39px;
  }
}

@media (min-width: 768px) {
  .catalog-list__item--user-height {
    min-height: 98%;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item--user-height {
    min-height: 90%;
  }
}

.catalog-list__item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .catalog-list__item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item-container {
    width: 100%;
    display: flex;
  }
}

.catalog-list__item-text {
  display: flex;
  flex-direction: column;
}

.catalog-list__item-title {
  margin: 0 0 14px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 60%;
}
@media (min-width: 768px) {
  .catalog-list__item-title {
    text-align: center;
    padding: 39px 0 14px 0;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item-title {
    padding: 49px 0 0 0;
    line-height: 21px;
    width: 80%;
    margin-bottom: 18px;
  }
}

.catalog-list__item-description {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog-list__item-description {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-list__item-description-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-list__item-description-text {
    font-size: 16px;
    margin: 7px 0 8px 0;
  }
}

.catalog-list__item-more {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .catalog-list__item-more {
    border-top: 1px solid #ebebeb;
    padding: 25px 20px;
  }
}
@media (min-width: 768px) {
  .catalog-list__item-more {
    min-height: 88%;
    align-self: flex-end;
    border: 2px solid #e6e6e6;
    margin-bottom: -30px;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item-more {
    min-height: 82%;
    margin-bottom: 0;
  }
}

.catalog-list__item-more-toogle {
  display: block;
}
.catalog-list__item-more-toogle:hover {
  opacity: 0.8;
}
.catalog-list__item-more-toogle:active {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .catalog-list__item-more-toogle {
    width: 30px;
    height: 30px;
    margin-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .catalog-list__item-more-toogle {
    width: 60px;
    height: 60px;
    margin: 0 0 49px 0;
    padding-top: 48px;
  }
}

@media (min-width: 768px) {
  .catalog-list__item-more-icon {
    width: 60px;
    height: 60px;
  }
}

.catalog-list__item-more-title {
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog-list__item-more-title {
    margin: 0 0 22px 0;
    font-size: 20px;
    line-height: 22px;
    width: 55%;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item-more-title {
    width: 74%;
  }
}

.catalog-list__item-more-description {
  margin: 0 0 21px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-list__item-more-description {
    margin: 0 0 85px 0;
    font-size: 16px;
    line-height: 18px;
    width: 70%;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item-more-description {
    width: 94%;
  }
}

.catalog-list__item-img {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 12%;
}
@media (min-width: 768px) {
  .catalog-list__item-img {
    width: 161px;
    height: 172px;
    top: 3%;
  }
}

.catalog-list__item-img-user {
  width: 84px;
  height: 100px;
}
@media (min-width: 768px) {
  .catalog-list__item-img-user {
    width: 168px;
    height: 200px;
  }
}

.catalog-list__item-img--user-height {
  top: 24%;
}
@media (min-width: 768px) {
  .catalog-list__item-img--user-height {
    top: 4%;
  }
}

.catalog-list__item-btn {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #68b738;
  padding: 10px 0;
}
.catalog-list__item-btn:hover {
  background: #5eaa2f;
}
.catalog-list__item-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-list__item-more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-list__item-more-btn {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background: #f2f2f2;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .catalog-list__item-more-btn {
    margin: 0 38px 38px 38px;
  }
}
.catalog-list__item-more-btn:hover {
  background: #ebebeb;
}
.catalog-list__item-more-btn:active {
  color: rgba(68, 68, 68, 0.3);
}

.catalog-list__img-wrapper {
  display: block;
  height: 112px;
}
@media (min-width: 768px) {
  .catalog-list__img-wrapper {
    height: auto;
  }
}

.optional {
  position: relative;
}

.optional__title {
  margin: 0;
  background: #ffffff;
  display: inline-block;
  padding: 0 22px 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .optional__title {
    margin-left: 30px;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .optional__title {
    margin-left: 70px;
    padding: 0 35px 0 40px;
  }
}

@media (min-width: 1440px) {
  .optional-wrapper {
    display: flex;
    margin-bottom: 91px;
    column-gap: 80px;
  }
}

.optional__line {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .optional__line {
    margin-bottom: 73px;
  }
}
@media (min-width: 1440px) {
  .optional__line {
    margin-bottom: 77px;
  }
}

.optional-list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .optional-list {
    margin: 0 0 69px 0;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .optional-list {
    margin: 0;
    border: none;
    width: 74%;
  }
}

.optional-list__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .optional-list__item {
    padding: 0 38px;
  }
}
@media (min-width: 1440px) {
  .optional-list__item {
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 39px;
  }
}

.optional-list__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.optional-list__item-title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (max-width: 767px) {
  .optional-list__item-title {
    padding-top: 13px;
  }
}
@media (min-width: 768px) {
  .optional-list__item-title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.optional-list__item-description {
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .optional-list__item-description {
    margin-bottom: 0;
    width: 50%;
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .optional-list__item-description {
    justify-content: space-between;
    width: 47%;
  }
}

.optional-list__item-description-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .optional-list__item-description-text {
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .optional-list__item-description-text {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .optional-list__container {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .optional-list__container {
    display: flex;
    margin: 27px 0 24px 0;
    width: 73%;
  }
}

.optional-list__item-btn {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #68b738;
  padding: 10px 0;
  margin-bottom: 19px;
}
.optional-list__item-btn:hover {
  background: #5eaa2f;
}
.optional-list__item-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .optional-list__item-btn {
    margin-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .optional-list__item-btn {
    margin-bottom: 0;
    width: 29%;
  }
}

.main-promo {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .main-promo {
    margin-bottom: 76px;
    align-items: stretch;
  }
}
@media (min-width: 1440px) {
  .main-promo {
    margin-bottom: 0;
    flex-direction: column;
    width: 20%;
  }
}

.main-promo::before {
  position: absolute;
  content: "";
  background-image: url("/img/backgrounds/promo-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .main-promo::before {
    background-image: url("/img/backgrounds/promo-img-tablet.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 1440px) {
  .main-promo::before {
    background-image: url("/img/backgrounds/promo-img-desktop.jpg");
    background-size: cover;
  }
}

.main-promo::after {
  position: absolute;
  content: "";
  background: rgba(104, 183, 56, 0.85) no-repeat center/100% auto;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main-promo__img {
  padding-top: 58px;
  margin: 0 0 44px 0;
}
@media (min-width: 768px) {
  .main-promo__img {
    padding-top: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-promo__img {
    padding-top: 55px;
    margin: 0 0 46px 0;
  }
}

.main-promo__description {
  text-align: center;
  width: 70%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 43px 0;
}
@media (min-width: 768px) {
  .main-promo__description {
    margin: 0;
    text-align: left;
    width: 32%;
  }
}
@media (min-width: 1440px) {
  .main-promo__description {
    margin: 0;
    width: 66%;
    text-align: center;
  }
}

.main-promo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-promo-wrapper {
    margin: 57px 124px 57px 77px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-promo-wrapper {
    margin: 0;
    flex-direction: column;
  }
}

/* Файлы Страницы с формой */
.form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form {
    margin-bottom: 74px;
  }
}
@media (min-width: 1440px) {
  .form {
    margin-bottom: 87px;
  }
}

.form__title {
  margin: 27px 0 37px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__title {
    margin: 65px 0 54px 70px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    margin: 73px 0 56px 110px;
  }
}

.form__description {
  margin: 0 0 39px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  width: 226px;
}
@media (min-width: 768px) {
  .form__description {
    margin: 0 0 66px 70px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}
@media (min-width: 1440px) {
  .form__description {
    margin: 0 0 66px 110px;
  }
}

.form__btn {
  padding: 10px 0;
  margin-bottom: 21px;
  background: #68b738;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
.form__btn:hover {
  background: #5eaa2f;
}
.form__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .form__btn {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0;
  }
}

.form_text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 32px 62px;
}
@media (min-width: 768px) {
  .form_text {
    margin: 0;
    font-size: 16px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .form-container {
    column-gap: 81px;
  }
}

@media (min-width: 1440px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin: 0 0 70px 0;
  }
}

.form-profile {
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 14px;
  padding: 0;
  margin: 0 20px 24px 20px;
}
@media (min-width: 768px) {
  .form-profile {
    margin: 0 67px 72px 70px;
    row-gap: 20px;
  }
}
@media (min-width: 1440px) {
  .form-profile {
    margin: 0 0 0 110px;
  }
}

.form-profile__field {
  display: flex;
  align-items: center;
}

.form-profile__label {
  margin-right: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .form-profile__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
}

.form-profile__input {
  display: block;
  box-sizing: border-box;
  padding: 7px 0 0 16px;
  width: 100%;
  height: 45px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-profile__input {
    height: 52px;
    padding: 9px 0 0 19px;
  }
}
.form-profile__input:hover {
  border: 1px solid #cdcdcd;
}
.form-profile__input:focus {
  outline: none;
  border: 2px solid #444444;
}
.form-profile__input:focus:invalid {
  outline: none;
  border: 2px solid #ff8282;
}

.form-profile__input::placeholder {
  text-align: start;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .form-profile__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program {
  border: none;
  display: flex;
  margin: 0 0 26px 0;
  padding: 22px 0 20px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form-program {
    padding: 25px 27px;
    margin: 0 67px 75px 70px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .form-program {
    margin: 0 110px 0 0;
    border: 1px solid #e7e7e7;
  }
}

.form-program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .form-program-list {
    margin-left: 0;
  }
}

.form-program-list__item {
  display: flex;
  height: 30px;
}
@media (min-width: 768px) {
  .form-program-list__item {
    height: 40px;
  }
}

.form-program-list__item-control {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-program-list__item-control {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.form-program-list__item-control-mark {
  position: absolute;
  top: -1px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-program-list__item-control-mark {
    width: 40px;
    height: 40px;
  }
}
.form-program-list__item-control-mark:hover {
  border: 1px solid #bababa;
}
.form-program-list__item-control-mark:disabled {
  opacity: 0.3;
}

.form-program-list__item-input[type=radio]:checked + .form-program-list__item-control-mark::after {
  position: absolute;
  border-radius: 50%;
  background: #68b738;
  top: 7px;
  left: 8px;
  width: 14px;
  height: 14px;
  content: "";
}
@media (min-width: 768px) {
  .form-program-list__item-input[type=radio]:checked + .form-program-list__item-control-mark::after {
    border-radius: 50%;
    background: #68b738;
    width: 19px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.form-contacts {
  padding: 0;
  margin: 0 0 23px 0;
  border: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form-contacts {
    margin: 0 0 65px 0;
  }
}
@media (min-width: 1440px) {
  .form-contacts {
    margin: 0 0 67px 0;
  }
}

.form-contacts__line {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form-contacts__line {
    margin-bottom: 70px;
  }
}

.form-contacts__title {
  display: inline-block;
  width: 190px;
  padding: 0 14px 0 20px;
  background: #ffffff;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form-contacts__title {
    width: 520px;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 0 30px;
  }
}
@media (min-width: 1440px) {
  .form-contacts__title {
    margin: 0 0 0 70px;
  }
}

.form-contacts__field {
  position: relative;
  display: flex;
  align-items: center;
}

.form-contacts__label {
  margin-right: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .form-contacts__label {
    margin-right: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form-contacts__label {
    margin-right: 20px;
  }
}

.form-contacts__input-email,
.form-contacts__input-phone {
  display: block;
  box-sizing: border-box;
  padding: 3px 0 0 16px;
  width: 100%;
  height: 45px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-contacts__input-email,
.form-contacts__input-phone {
    height: 52px;
    padding: 0 0 0 22px;
  }
}
.form-contacts__input-email:hover,
.form-contacts__input-phone:hover {
  border: 1px solid #cdcdcd;
}

.form-contacts__input-email {
  background-image: url("/img/icons/email-icon.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}
.form-contacts__input-email:focus {
  background-image: url("/img/icons/email-focus.svg");
  outline: none;
  border: 2px solid #444444;
}
.form-contacts__input-email:invalid {
  background-image: url("/img/icons/email-error.svg");
  outline: none;
  border: 2px solid #ff8282;
}
@media (min-width: 768px) {
  .form-contacts__input-email {
    background-position: right 13px top 50%;
  }
}

.form-contacts__input-phone {
  background-image: url("/img/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right 13px top 50%;
}
.form-contacts__input-phone:focus {
  background-image: url("/img/icons/phone-focus.svg");
  outline: none;
  border: 2px solid #444444;
}
.form-contacts__input-phone:invalid {
  background-image: url("/img/icons/phone-error.svg");
  outline: none;
  border: 2px solid #ff8282;
}
@media (min-width: 768px) {
  .form-contacts__input-phone {
    background-position: right 12px top 50%;
    padding: 6px 0 0 15px;
  }
}
@media (min-width: 1440px) {
  .form-contacts__input-phone {
    background-position: right 16px top 50%;
  }
}

.form-contacts__input-email,
.form-contacts__input-phone::placeholder {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-contacts__input-email,
.form-contacts__input-phone::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form-contacts__input-email,
.form-contacts__input-phone::placeholder {
    background-position: right 21px top 50%;
  }
}

.form-contacts__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
@media (min-width: 768px) {
  .form-contacts__wrapper {
    row-gap: 20px;
  }
}
@media (min-width: 1440px) {
  .form-contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 72px;
  }
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form-comment {
    margin-bottom: 65px;
  }
}

.form-comment__line {
  margin: 0 0 37px 0;
}
@media (min-width: 768px) {
  .form-comment__line {
    margin: 0 0 76px 0;
  }
}

.form-comment__title {
  display: inline-block;
  padding: 0 22px 0 20px;
  background: #ffffff;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form-comment__title {
    padding: 0 42px 0 39px;
    margin: 0 0 0 30px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .form-comment__title {
    padding: 0 40px;
    margin: 0 0 0 70px;
  }
}

.form-comment__input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  padding: 0 12px 0 15px;
  width: 100%;
  height: 150px;
}
@media (min-width: 768px) {
  .form-comment__input {
    height: 174px;
  }
}
@media (min-width: 1440px) {
  .form-comment__input {
    padding: 0 12px 0 18px;
  }
}

.form-comment__input::placeholder {
  transform: translateY(-55px);
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-comment__input::placeholder {
    font-size: 20px;
    line-height: 30px;
    transform: translateY(-60px);
  }
}

.form-optionally {
  border: none;
  display: flex;
  padding: 0;
  margin: 0 0 33px 0;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form-optionally {
    margin: 0 0 54px 0;
  }
}
@media (min-width: 1440px) {
  .form-optionally {
    margin: 0 0 62px 0;
  }
}

.form-optionally__line {
  margin: 0 0 30px 0;
}
@media (min-width: 768px) {
  .form-optionally__line {
    margin: 0 0 53px 0;
  }
}
@media (min-width: 1440px) {
  .form-optionally__line {
    margin: 0 0 55px 0;
  }
}

.form-optionally__title {
  width: 140px;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  padding: 0 22px 0 20px;
  background: #ffffff;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form-optionally__title {
    margin: 0 0 0 30px;
    padding: 0 40px;
    width: 211px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .form-optionally__title {
    margin: 0 0 0 70px;
  }
}

.form-optionally-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .form-optionally-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 59px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .form-optionally-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    width: 100%;
  }
}

.form-optionally-list__item {
  display: flex;
  height: 30px;
}
@media (min-width: 768px) {
  .form-optionally-list__item {
    height: 40px;
  }
}

.form-optionally-list__item-control {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-optionally-list__item-control {
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-optionally-list__item-control-mark {
  position: absolute;
  top: -1px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-optionally-list__item-control-mark {
    width: 40px;
    height: 40px;
  }
}
.form-optionally-list__item-control-mark:hover {
  border: 1px solid #bababa;
}
.form-optionally-list__item-control-mark:disabled {
  opacity: 0.3;
}

.form-optionally-list__item-input[type=checkbox]:checked + .form-optionally-list__item-control-mark::after {
  position: absolute;
  background-image: url("/img/icons/checkbox-mobile.png");
  background-repeat: no-repeat;
  top: 8px;
  left: 6px;
  width: 18px;
  height: 14px;
  content: "";
}
@media (min-width: 768px) {
  .form-optionally-list__item-input[type=checkbox]:checked + .form-optionally-list__item-control-mark::after {
    background-image: url("/img/icons/checkbox.png");
    width: 24px;
    height: 19px;
    top: 10px;
    left: 9px;
  }
}

/* Файлы для Footer */
.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-location__text {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer-location__text {
    padding: 26px 0;
  }
}
@media (min-width: 768px) {
  .footer-location__text {
    padding: 59px 40px 60px 40px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer-location__text {
    padding: 59px 80px 54px 82px;
    min-height: 86px;
    top: 90px;
    left: 110px;
    width: 405px;
    position: absolute;
    margin: 0;
    background: #ffffff;
  }
}

.footer-location-grey {
  background: #f2f2f2;
}

.footer-location__title {
  min-width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .footer-location__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-location__description {
  width: 140px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
@media (max-width: 767px) {
  .footer-location__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-location__description {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .footer-location__description {
    text-align: left;
  }
}

iframe {
  display: block;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  iframe {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  iframe {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .footer-location {
    position: relative;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .footer-contacts {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .footer-contacts {
    padding: 55px 30px 55px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .footer-contacts {
    padding: 53px 110px 55px 110px;
  }
}

@media (max-width: 767px) {
  .footer-contacts_logo-container {
    display: flex;
    margin: 39px 0 32px 0;
    justify-content: center;
  }
}

.footer-contacts__logo {
  display: block;
  width: 128px;
  height: 24px;
}
.footer-contacts__logo:hover {
  opacity: 0.5;
}
.footer-contacts__logo:active {
  opacity: 0.2;
}

.footer-icon {
  fill: #666666;
}
.footer-icon:hover {
  fill: #68b738;
}
.footer-icon:active {
  fill: #68b738;
  opacity: 0.3;
}

.footer-contacts__vk,
.footer-contacts__yt,
.footer-contacts__tg,
.copyright__logo-link-icon {
  fill: #666666;
}
.footer-contacts__vk:hover,
.footer-contacts__yt:hover,
.footer-contacts__tg:hover,
.copyright__logo-link-icon:hover {
  fill: #68b738;
}
.footer-contacts__vk:active,
.footer-contacts__yt:active,
.footer-contacts__tg:active,
.copyright__logo-link-icon:active {
  fill: #68b738;
  opacity: 0.3;
}

.sociall-list {
  margin: 0 0 0 26px;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 132px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .sociall-list {
    margin: 17px 0;
  }
}

.sociall-list__item-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .footer-contacts__wrapper {
    display: flex;
  }
}

.sociall-list-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .sociall-list-container {
    border-top: 1px solid #d9d9d9;
  }
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px 0;
}
@media (max-width: 767px) {
  .copyright {
    padding: 22px 0;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    column-gap: 22px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;
}
.copyright__link:active {
  opacity: 0.3;
}

.copyright__logo-link {
  display: flex;
}
/*# sourceMappingURL=style.css.map */