/* Colors */

$basic_green: #68b738;
$basic_light_green: #5eaa2f;
$grey: #eaeaea;
$basic_grey: #f2f2f2;
$basic_light_grey: #ebebeb;
$special_grey: #cdcdcd;
$special_light_grey: #e7e7e7;
$special_border_color: #e6e6e6;
$metalic_grey: #666666;
$special_dark-grey: #444444;
$eerie_black: #222222;
$basic_black: #000000;
$special_black: #111111;
$status_error: #ff8282;
$basic_white: #ffffff;
$program-line-color: #d9d9d9;
$icon-color: #666666;
$radio-hover-color: #bababa;

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
